:root {
    --primary-border-colors: rgb(115, 206, 236);
    --primary-color-scheme: rgb(20, 20, 139);
    --secondary-text-color: rgb(185, 134, 24);
}

header nav{
    float: right;
}

header nav {
    display: inline-block;
}

header nav ul li {
    display: table-cell;
    padding: 10px;
    background-color: transparent;
    vertical-align: middle;
}

header a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

header {
    padding: 20px;
    color: lightblue;
    background-color: var(--primary-color-scheme);
}

header nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 2px;
}

header h1{
    display: inline-block;
    font-size: 30px;
}

@media screen and (max-width: 778px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav {
        align-items: center;
        float: none;
        text-align: center;
    }
}