code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-border-colors: rgb(115, 206, 236);
  --primary-color-scheme: rgb(20, 20, 139);
  --secondary-text-color: rgb(185, 134, 24);
}


